In [23]:
import  pandas as pd
import numpy as np
data = pd.read_csv('../data/beauty.csv', sep=';')

In [24]:
data.loc[0:5]
data.loc[0:5, ['wage','female' ]].head()
data.iloc[0:7, [1,2,3]]
data.iloc[:,[1,2,3]].head()

   exper  union  goodhlth
0     30      0         1
1     28      0         1
2     35      0         1
3     38      0         1
4     27      0         1

In [25]:
data[data['female'] == 1]['wage']

0       5.73
1       4.28
2       7.96
5       3.91
8       5.00
        ...
1255    1.61
1256    1.68
1257    3.29
1258    2.31
1259    1.92
Name: wage, Length: 436, dtype: float64

In [26]:
data[data['female'] == 1]['wage'].mean()

4.299357798165137

In [27]:
data[(data['female'] == 0) & (data['married'] == 1)].median()

wage         6.71
exper       20.50
union        0.00
goodhlth     1.00
black        0.00
female       0.00
married      1.00
service      0.00
educ        12.00
looks        3.00
dtype: float64

In [28]:
pd.crosstab(data['female'],data['married'])

married    0    1
female
0        166  658
1        223  213

In [29]:
pd.crosstab(data['female'], data['looks'])

looks   1   2    3    4   5
female
0       8  88  489  228  11
1       5  54  233  136   8

In [30]:
data['wage'].describe()

count    1260.000000
mean        6.306690
std         4.660639
min         1.020000
25%         3.707500
50%         5.300000
75%         7.695000
max        77.720000
Name: wage, dtype: float64

In [31]:
data['is_rich'] = (data['wage'] > data['wage'].quantile(.75)).astype(int)

In [32]:
data['wage'] > data['wage'].quantile(.75)

0       False
1       False
2        True
3        True
4        True
        ...
1255    False
1256    False
1257    False
1258    False
1259    False
Name: wage, Length: 1260, dtype: bool

In [33]:
(data['wage'] > data['wage'].quantile(.75)).astype(int)

0       0
1       0
2       1
3       1
4       1
       ..
1255    0
1256    0
1257    0
1258    0
1259    0
Name: wage, Length: 1260, dtype: int64

In [34]:
def gender(female):
    return 'female' if female else 'male'
data['female'].apply(gender)

data['female'].apply(lambda female : 'female' if female else 'male')

dic = {1:'union', 0:'non-union'}
data['female'].map(dic).head()

0        union
1        union
2        union
3    non-union
4    non-union
Name: female, dtype: object